<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>controller.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFacultyServlet</servlet-name>
        <servlet-class>controller.AddFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHODServlet</servlet-name>
        <servlet-class>controller.AddHODServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentServlet</servlet-name>
        <servlet-class>controller.ViewStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>controller.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFacultyServlet</servlet-name>
        <servlet-class>controller.DeleteFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHODServlet</servlet-name>
        <servlet-class>controller.DeleteHODServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchStudentServlet</servlet-name>
        <servlet-class>controller.FetchStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>controller.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchFacultyServlet</servlet-name>
        <servlet-class>controller.FetchFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFacultyServlet</servlet-name>
        <servlet-class>controller.UpdateFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchHodServlet</servlet-name>
        <servlet-class>controller.FetchHodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHodServlet</servlet-name>
        <servlet-class>controller.UpdateHodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HodLoginServlet</servlet-name>
        <servlet-class>controller.HodLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HodApprovalServlet</servlet-name>
        <servlet-class>controller.HodApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyServlet</servlet-name>
        <servlet-class>controller.FacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyLoginServlet</servlet-name>
        <servlet-class>controller.FacultyLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentListServlet</servlet-name>
        <servlet-class>controller.StudentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceServlet</servlet-name>
        <servlet-class>controller.AttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAttendanceServlet</servlet-name>
        <servlet-class>controller.SaveAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMarksServlet</servlet-name>
        <servlet-class>controller.UploadMarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMarksServlet</servlet-name>
        <servlet-class>controller.SaveMarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttendanceServlet</servlet-name>
        <servlet-class>controller.ViewAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>controller.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMarksServlet</servlet-name>
        <servlet-class>controller.ViewMarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarksServlet</servlet-name>
        <servlet-class>controller.MarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentListServlet</servlet-name>
        <servlet-class>controller.ViewStudentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttendanceReportServlet</servlet-name>
        <servlet-class>controller.ViewAttendanceReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>controller.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAnalyticsServlet</servlet-name>
        <servlet-class>controller.AdminAnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HODAnalyticsServlet</servlet-name>
        <servlet-class>controller.HODAnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyAnalyticsServlet</servlet-name>
        <servlet-class>controller.FacultyAnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAIAnalyticsServlet</servlet-name>
        <servlet-class>controller.StudentAIAnalyticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFacultyServlet</servlet-name>
        <url-pattern>/AddFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHODServlet</servlet-name>
        <url-pattern>/AddHODServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentServlet</servlet-name>
        <url-pattern>/ViewStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFacultyServlet</servlet-name>
        <url-pattern>/DeleteFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHODServlet</servlet-name>
        <url-pattern>/DeleteHODServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchStudentServlet</servlet-name>
        <url-pattern>/FetchStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchFacultyServlet</servlet-name>
        <url-pattern>/FetchFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFacultyServlet</servlet-name>
        <url-pattern>/UpdateFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchHodServlet</servlet-name>
        <url-pattern>/FetchHodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHodServlet</servlet-name>
        <url-pattern>/UpdateHodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HodLoginServlet</servlet-name>
        <url-pattern>/HodLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HodApprovalServlet</servlet-name>
        <url-pattern>/HodApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyServlet</servlet-name>
        <url-pattern>/FacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyLoginServlet</servlet-name>
        <url-pattern>/FacultyLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentListServlet</servlet-name>
        <url-pattern>/StudentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceServlet</servlet-name>
        <url-pattern>/AttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAttendanceServlet</servlet-name>
        <url-pattern>/SaveAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMarksServlet</servlet-name>
        <url-pattern>/UploadMarksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMarksServlet</servlet-name>
        <url-pattern>/SaveMarksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttendanceServlet</servlet-name>
        <url-pattern>/ViewAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMarksServlet</servlet-name>
        <url-pattern>/ViewMarksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarksServlet</servlet-name>
        <url-pattern>/MarksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentListServlet</servlet-name>
        <url-pattern>/ViewStudentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttendanceReportServlet</servlet-name>
        <url-pattern>/ViewAttendanceReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAnalyticsServlet</servlet-name>
        <url-pattern>/AdminAnalyticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HODAnalyticsServlet</servlet-name>
        <url-pattern>/HODAnalyticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyAnalyticsServlet</servlet-name>
        <url-pattern>/FacultyAnalyticsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAIAnalyticsServlet</servlet-name>
        <url-pattern>/StudentAIAnalyticsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
